.rent-form-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .summary_description{
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: #90A3BF;
    max-width: 440px;
  }

  .summary_section_title{
    font-size: 20px;
  }
  
  .form-section {
    width: 55%;
    /* background-color: #ffffff; */
    /* padding: 20px; */
    border-radius: 10px;
  }
  
  .summary-section {
    height: 100%;
    width: 40%;
    max-width: 492px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .section-title {
    font-size: 1.2em;
    font-weight: 600;
  }
  
  .input-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 32px;
  }

  .input-row div label{
    font-size: 16px;
    font-weight: 500;
    color: #1A202C;
}
  
  .input-row div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 48%;
  }

  .taxes,
.subtotal{
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
    }

    .taxes p,
    .subtotal p{
        font-size: 16px;
        font-weight: 500;
        color: #90A3BF;
    }

    .taxes span,
    .subtotal span{
        font-size: 16px;
        font-weight: 700;
        color: #1A202C;
    }

    hr{
        height: 2px;
        background-color: #90A3BF;
    }

    .left_title span{
        font-size: 14px;
        font-weight: 300 !important;
    }

    .rental_head_title,
    .billing_head_title,
    .confirmation_head_title{
        display: flex;
        justify-content: space-between;
        align-items: end;
        width: 100%;
        color: #1A202C;
    }

    .rental_head_title span,
    .billing_head_title span,
    .confirmation_head_title span{
        font-size: 14px;
        color: #90A3BF;
        font-weight: 500;
    }
  
  .input-row input,
  .input-row select {
    width: 100%;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #F6F7F9;
    color: #90A3BF;
    outline: none;
  }

  .input-row input::placeholder,
  .input-row select::placeholder{
    color: #90A3BF;
    font-size: 14px;
  }
  
  .submit-button {
    background-color: #3563E9;
    color: white;
    padding: 16px 32px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
  }

  .submit-button:hover{
    background-color: #3562e9cf;
  }
  
  .rental-summary {
    border-radius: 8px;
    margin-top: 32px;
    /* padding: 10px; */
    margin-bottom: 32px;
    display: flex;
    gap: 16px;
  }
  
  .rental-summary img {
    border: 1px solid #e0e0e0;
    object-fit: contain;
    width: 132px;
    height: 108px;
    padding: 8px;
    background-color: #3563E9;
    background-image: url('../../assets/RightBG.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
  }

  .subtotal_tax{
    margin-top: 32px;
  }
  
  .summary-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .billing_info,
  .rental_info{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 24px;
  }

  .rental_info{
    margin-top: 32px;
  }
  
  .apply-code {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    position: relative;
  }
  
  .apply-code input {
    width: 100%;
    padding: 16px 32px;
    border: none;
    background-color: #F6F7F9;
    border-radius: 5px;
    color: #90A3BF;
    outline: none;
  }

  .apply-code input::placeholder{
    color: #90A3BF;
  }
  
  .apply-code button {
    position: absolute;
    right: 0;
    padding: 16px;
    background-color: transparent;
    color: #1A202C;
    font-weight: 700;
    border: none;
    border-radius: 5px;
  }
  
  .total-price {
    margin-top: 32px;
    font-size: 1.8em;
    font-weight: 700;
    color: #1A202C;
    display: flex;
    justify-content: space-between;
  }

  .total-price h2{
    font-size: 20px;
  }

  .total-price p{
    font-size: 14px;
    font-weight: 300;
    color: #90A3BF;
  }

  .confirmation-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.confirmation-section h3 {
    font-size: 18px;
    font-weight: bold;
}

.confirmation-section p {
    font-size: 14px;
    margin-bottom: 20px;
}

.checkboxs_for_rent_form{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkbox-row {
    display: flex;
    align-items: center;
    padding: 16px 32px;
    background-color: #F6F7F9;
    border-radius: 10px;
}

.checkbox-row input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.checkbox-row label {
    font-size: 14px;
    color: #555;
}

  
  /* Responsive Styles */
  @media (max-width: 1024px) {
    .rent-form-container {
      flex-direction: column-reverse;
      align-items: center;
      gap: 32px;
    }
    
    .form-section, .summary-section {
      width: 100%;
      max-width: 100%;
    }
  
    .input-row div {
      width: 100%;
    }
  }
  
  @media (max-width: 768px) {
    .summary-section {
        margin-top: 32px;
    }

    .submit-button {
      padding: 10px;
      font-size: 14px;
      margin-bottom: 24px;
    }
  
    .rental-summary img {
      width: 100px;
      height: 90px;
    }
  }
  
  @media (max-width: 480px) {
    .rent-form-container {
      padding: 5px;
    }
  
    .section-title, .summary-title {
      font-size: 1.1em;
    }
  
    .submit-button {
      font-size: 0.9em;
      padding: 8px;
    }
  
    .total-price {
      font-size: 1.5em;
    }

    .checkbox-row {
        padding: 8px 16px;
    }
  }
  