.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    width: 100%;
    background-color: white;
    position: relative;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    margin-right: 15px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    width: 40%;
    position: relative;
  }
  
  .search-bar input {
    padding: 10px 20px;
    width: 100%;
    border-radius: 30px;
    border: 1px solid #ddd;
    outline: none;
  }
  
  .search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
    z-index: 10;
  }
  
  .search-result-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  
  .search-result-item:last-child {
    border-bottom: none;
  }
  
  .search-result-item img {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }
  
  .result-name {
    font-weight: bold;
  }
  
  .result-price {
    color: #888;
  }
  
  .user-options {
    display: flex;
    align-items: center;
  }
  
  .user-options .icon {
    margin-left: 20px;
    cursor: pointer;
  }
  
  .user-options .icon img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .header {
      padding: 24px 24px 0;
    }
    
    .search-bar {
      width: 50%;
    }
  
    .user-options .icon {
      margin-left: 15px;
    }
  
    .user-options .icon img {
      width: 20px;
      height: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .search-bar {
      width: 100%;
      margin-top: 10px;
    }
  
    .user-options {
      margin-top: 10px;
    }
  }
  