.popular-cars, .recommendation-cars {
    margin-top: 20px;
  }
  
  .popular-cars h3, .recommendation-cars h3 {
    margin-bottom: 20px;
  }
  
  .car-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .car-list .car-card {
    flex: 1 1 23%; /* 4 cards per row, including gaps */
    max-width: 25%; /* Ensure it doesn't exceed this width */
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .for_load_more_button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .for_load_more_button button
  {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: normal;
  }

  @media (max-width: 1250px) {
    .car-list .car-card {
        flex: 1 1 30%;
        max-width: 30%;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    
    
  }
  
  /* Adjustments for responsiveness */
  @media (max-width: 1024px) {
    .car-list .car-card {
      flex: 1 1 48%; /* 3 cards per row, including gaps */
      max-width: 48% !important;
    }

    .car-list{
        gap: 0;
    }
  }

  @media screen and (max-width: 550px) {
    .car-list{
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100% !important;
    }
    .car-list .car-card {
        flex: 1 1 90%;
        max-width: 890% !important;
    }
  }
  
  @media (max-width: 480px) {
    .car-list .car-card {
      flex: 1 1 100%; /* 1 card per row */
      max-width: 100%;
    }
  }
  