.car-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    position: relative;
  }

  .car-list img {
    width: 100%;
    height: auto;
    display: block;
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.5)); /* Image shadow */
    transition: transform 0.3s ease-in-out;
  }
  
  .car-list img:hover {
    transform: translateY(-5px); /* Slight lift on hover */
  }
  
  .car-card img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .car-info {
    margin-top: 10px;
  }
  
  .car-info h4 {
    margin: 0;
    font-size: 20px;
  }
  
  .car-info p {
    color: gray;
    font-size: 14px;
  }
  
  .car-details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .car-price {
    margin-top: 20px;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
  }
  
  .old-price {
    text-decoration: line-through;
    color: #90A3BF;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .price {
    font-size: 16px;
    font-weight: bold;
  }
  
  .car-card button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .icon.heart {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: gray;
    cursor: pointer;
  }
  
  .icon.heart.liked {
    color: red;
  }

  .car-details span{
    display: flex;
    align-items: center;
    color: #90A3BF;
    gap: 4px;
  }

  .car-details span img{
    width: 20px;
    height: 20px;
    gap: 4px;
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.5));
  }

  /* src/CSS/CarCard.css */

.heart-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .heart-icon:hover {
    transform: scale(1.1);
  }
  
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .car-card {
      width: 48%;
    }
  }
  
  @media (max-width: 550px) {
    .car-card {
        width: 100%;
        height: 300px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
  }

  @media (max-width: 350px) {
    .car-details span{
        font-size: 10px;
    }
    .price_button{
        flex-direction: column;
    }
  }
  